<!-- Default home page -->

<style>
    .fondo{
        background-color:darkseagreen;
    }
</style>

<div class="fondo">
    <h3>Aqui empieza homepage</h3>
    <p>Ya no somos tan noobs</p>
    <h3>Aqui termina de homepage</h3>
</div>
