<!DOCTYPE html>
<html>

<head>
    <title>
        <%=typeof title == 'undefined' ? 'New Sails App' : title%>
    </title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <link rel="stylesheet" href="Bootstrap/bootstrap/css/bootstrap.min.css">
    <script src="Bootstrap/bootstrap/js/bootstrap.min.js"></script> 
    <script src="jquery/dist/jquery.min.js"></script>    

   <!--STYLES-->
   <link rel="stylesheet" href="/styles/estiloListarUsuarios.css">
   <link rel="stylesheet" href="/styles/importer.css">
   <!--STYLES END-->
</head>

<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span>MENU</span>
                </button>
                <a class="navbar-brand" href="/">Mascota App</a>
            </div>
            
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/Inicio">Inicio</a></li>
                    <li><a href="/listarUsuarios">ListarUsuarios</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>    
    
    <div class="container">
        <%- body %>
    </div>

    <div class="navbar navbar-fixed-button">
        Desarrollado por Juan Erazo
    </div>

    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->
    
    

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <!--SCRIPTS END-->

</body>

</html>