

  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <h1>Agregar razas</h1>
    <h2>Registre las razas</h2>
    <br/>
  <form action="raza/crearRaza" method="post">
    <div class="form-group">
      <label>Nombre</label>
      <input required type="text" class="form-control"  placeholder="Nombre" name="nombre">
    </div>

    <button type="submit" class="btn btn-success btn-block">Crear Raza</button>

  </form>
  </div>
  <div class="col-sm-4"></div>

