<div style='color:black'>
    <h1>Formulario para crear usuarios</h1>
    <form action="Usuario/crearUsuarioForm" method="post">
        <label for="nombres">Nombres</label>        
        <input type="text" name="nombres">
        <br /><br />
        <label for="apellidos">Apellidos</label>
        <input type="text" name="apellidos">
        <br /><br />
        <label for="correo">Correo</label>
        <input type="text" name="correo">
        <br /><br />
        <button type="submit">Crear</button>
    </form>
</div>