<h1>{{nombre}}</h1>
<h2>{{error}}</h2>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <form class="animated bounceIn" (ngSubmit)="crearTienda(NuevaTiendaForm)" #NuevaTiendaForm="ngForm">
        <div class="form-group">
          <pre>
            {{nombre}}
          </pre>
          <label>Tienda</label>
          <div class="animated slideInDown" [hidden]="!nombre.errors">
            <span *ngIf="nombre.errors && (nombre.dirty || nombre.touched)" class="bg-danger" >Ingrese 3 caracteres</span>
          </div>
          <!--el ngIf es una directiva para quitar esta etiqueta de todo HTML-->
          <input required minlength="3" type="text"
                 class="form-control"
                 placeholder="Digite un nombre de tienda como: Adidas"
                 name="nombre"
                 [(ngModel)]="nuevaTienda.nombre"
                 #nombre="ngModel"
                 #nombreElm>

        </div>
        <button [disabled]="disabledButton.NuevaTiendaFormSubmitButton||!NuevaTiendaForm.valid" type="submit" class="btn btn-block btn-success">Crear</button>
      </form>
    </div>
    <div class="col-sm-6">
      <h1>{{nuevaTienda|json}}</h1>
    </div>
  </div>



</div>
